* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 1250px;
    margin: 0 auto;
    padding: 25px 0;
}
.side-header {
    width: 100%;
    padding-bottom:25px;
    border-bottom: 1px solid rgb(189, 184, 184);
}
.side-header .side-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-main .logo-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.logo-main .contact p {
    font-size: 17px;
    color: #a7aed1;
    padding-bottom: 6px;
}
.logo-main .contact h1 {
    font-size: 23px;
}
.search-main input {
    width: 350px;
    padding: 13px 20px;
    border-radius: 50px;
    text-align: center;
    outline: none;
    background-color: #f5f6fa;
    border: none;
    color: #a7aed1;
    font-size: 16px;
}
.sign-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.location-main {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.sign-main .location-main h4{
    font-size: 17px;
    color: #46c578;
}
.sign-main .location-main p{
    font-size: 13px;
    color: #a7aed1;
}
.sign-main button {
    padding: 10px 23px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background: none;
    border: 1px solid #a7aed1;
}
.bars {
    display: none;
}
.side-menu {
    width: 100%;
}
.site-main {
    width: 100%;
    display: flex;
}
.side-menu .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.menu .menu-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}
.menu .menu-ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
}
.menu .menu-ul .green a {
    color: green;
    font-weight: 600;
}
.menu .menu-ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    color: black;
}
.menu-shop {
    padding: 8px 10px;
    background-color: #46c578;  
    border-radius: 10px;
    color: white;
}
.menu-shop a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    gap: 0.5rem;
}
.shop-box {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #74d699;
}
@media(max-width:1251px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}
@media(max-width:996px) {
    .menu-item {
        display: none;
    }
    .green {
        display: block;
    }
}
@media(max-width:984px) {
    .contact {
        display: none;
    }
    .search-main {
        display: none;
    }
}
@media(max-width:523px) {
    .bars {
        display: block;
        font-size: 25px;
    }
    .side-main {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .side-header {
        padding: 0;
    }
    .sign-main .location-main, button {
        display: none;
    }
}
